$color-primary: #E0431E;
$color-hover: #CE4221;

$color-background: #FFFFFF;

$color-text: #282828;
$color-light-text: #686868;
$color-button-text: #FFFFFF;

$color-gray: #EDEEF0;

$color-vk-button: #597DA3;
$color-fb-button: #3B5998;