button,
input[type=submit] {
    height: 48px;
    color: $color-button-text;
    border-radius: 2px;
    border: none
}

.form__button {
    background-color: $color-primary;

    &_auth {
        width: 223px;
        margin-top: 27px;
        font-size: 1.4rem;
    }

    &_registration {
        width: 223px;
    }
    &:hover {
        background-color: $color-hover;
    }
    &:active {
        background-color: $color-hover;
    }
    &:focus {
        background-color: $color-primary;
    }
}

.social__button {
    width: 420px;

    &_vk {
        background-color: $color-vk-button;
        &:hover,
        &:active {
            background: 
                linear-gradient(0deg, rgba(40, 40, 40, 0.1), rgba(40, 40, 40, 0.1)), 
                $color-vk-button;
        }
        &:focus {
            background-color: $color-vk-button;
        }
    }

    &_fb {
        background-color: $color-fb-button;
        &:hover,
        &:active {
            background: 
                linear-gradient(0deg, rgba(40, 40, 40, 0.1), rgba(40, 40, 40, 0.1)), 
                $color-fb-button;
        }
        &:focus {
            background-color: $color-fb-button;
        }
    }
}