.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 46px;
}

.form__input {
    width: 403px;
    height: 46px;
    margin-bottom: 15px;
    padding-top: 7px;
    padding-left: 16px;
    font-size: 1.6rem;
    color: $color-text;
    border: 1px solid $color-gray;
    border-radius: 2px;
    background: $color-background;
    &::placeholder {
        color: $color-light-text;
    }
    &:hover {
        background: rgba(237, 238, 240, 0.1);
    }
    &:focus,
    &:valid {
        border: none;
        border: 1px solid $color-background;
        border-bottom: 1px solid $color-gray;
        & + .form__head {
            font-size: 1.4rem;
            transform: translateY(-74px) translateX(16px);
        }
    }
}

.form__checkbox_wrapper {
    display: flex;
    margin-bottom: 36px;
}

.form__box {
    width: 40px;
    height: 18px;
    margin-top: 11px;
    margin-right: 13px;
    border: 1px solid $color-gray;
    border-radius:2px;
    cursor: pointer;
    &:hover {
        border: 1px solid $color-primary;
    }
}

.checkbox:checked + .form__checkbox_wrapper > .form__box {
    background: url("../assets/checked.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $color-primary;
}

.checkbox {
    display: none;
}

.form__line {
    border: 1px solid $color-gray;
}

.form__head {
    font-size: 1.6rem;
    color: $color-light-text;
    cursor: text;
    transform: translateY(-50px) translateX(16px);
    transition: all 0.3s;
}