.layout__2-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 34px;
    width: 100%;
    & a, input {
        margin-top: 0;
    }
}