.layout__social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.social__text {
    margin-top: 27px;
    margin-bottom: 31px;
    font-size: 1.4rem;
    color: $color-light-text;
}